@charset "utf-8";
/* CSS Document */
body {
margin: 0;
padding: 0;
font: 14px/22px "微软雅黑","宋体",Arial;
color: #333;
word-wrap: break-word;
}
* {
outline: 0;
}
::selection {
background: #00b38a;
color: #fff;
}
::selection {
background: #00b38a;
color: white;
}
#sidebar {
width: 230px;
position: absolute;
z-index: 101;
}
#sidebar .mainNavs {
background: #fafafa;
}
#sidebar .menu_sub {
width: 540px;
padding: 15px 30px 5px 30px;
position: absolute;
top: 0;
left: 228px;
min-height:200px;
z-index: 101;
border: 2px solid #c9cbce;
background: #fff;
}

.menu_main {
width: 100%;
padding: 6px 12px;
overflow: hidden;
position: relative;
}
.menu_main h2 span {
width: 13px;
height: 14px;
background: url(../images/arr.png) 0 0 no-repeat;
float: right;
margin-top: 3px;
}

.menu_main h2 {
font-size: 18px;
padding-left: 8px;
font-weight: 500;
/* background: url(../images/arr.png) right 5px no-repeat; */
}
.menu_main a:hover{
	color:#08aa84;}
.menu_main a {
float: left;
white-space: nowrap;
margin: 0 5px 5px 0;
padding: 0 8px;
}
a {
color: #555;
text-decoration: none;
cursor: pointer;
-moz-transition: background-color .2s ease-out,color .1s ease-out;
-webkit-transition: background-color .2s ease-out,color .1s ease-out;
-ms-transition: background-color .2s ease-out,color .1s ease-out;
transition: background-color .2s ease-out,color .1s ease-out;
}
a {
color: #555;
text-decoration: none;
cursor: pointer;
-moz-transition: background-color 0.2s ease-out,color 0.1s ease-out;
-webkit-transition: background-color 0.2s ease-out,color 0.1s ease-out;
-ms-transition: background-color 0.2s ease-out,color 0.1s ease-out;
transition: background-color 0.2s ease-out,color 0.1s ease-out;
}
.dn{
	display:inline-block;
}
#sidebar .current .menu_main {
    background: #fff;
    border: 2px solid #c9cbce;
    border-right: none;
    z-index: 102;
    padding-top: 5px;
}

#sidebar .menu_sub dl {
margin: 0 0 20px;
}
